 <div id="zurBar" class="container">
    <div class="row">
      <div class="four columns">
        <span style=
        "color:white;text-transform: lowercase; font-size: 10px; font-size: 1rem;">brought
        to you by</span><br />

        <h1><a href="#" style="text-transform: uppercase;">RB2HTML</a></h1>
      </div>

      <div class="eight columns hide-on-phones">
        <strong class="right"><a href="#" class="small red nice button src-download"
        style="margin-top:10px;">CookBooks</a></strong>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="four columns centered" id="recipe-title">
      <h1 class="recipe-title">Welcome to RB2HTML</h1>
    </div>
    <hr />

    <div class="row"><div class="twelve columns"> <div class="alert-box warning">Este index é temporario, ta no home#index. A ideia é ter um design consistente.<br />
       TODO: meter imagem de fundo, navbar, importar xml, exportar xml, meter as tags do css nas outras views, etc<a href="" class="close">&times;</a>
</div></div></div>

    <div class="row">
      <div class="twelve columns">
        <div class="recipeinfo panel">
          <center>
            <h5><span class="blurb">Experts say it's:</span></h5>

            <h5><span class="blurb"><i>"Autumn comfort food."</i></span></h5><br />

            <h6><span class="genre" style="display:inline">Soup</span></h6>made by

            <h6><span class="author">David Horton</span></h6>to be served in

            <h6><span class="source">8 servings</span></h6>in about

            <h6><span class="source">One hour</span></h6>
          </center>
        </div>
      </div>

      <div class="row" id="topbar">
        <div class="four columns panel" id="leftbar">
          <div>
            <h2 class="ingredientlist-heading">You will need</h2>

            <div class="ingredientlist">
              <ul>
                <li><span class="ingredient">2 Tbsp. butter</span></li>

                <li><span class="ingredient">1 medium onion, diced</span></li>

                <li><span class="ingredient">2 cloves garlic, minced</span></li>

                <li><span class="ingredient">2 ribs celery, chopped</span></li>

                <li><span class="ingredient">1 red pepper, diced</span></li>

                <li><span class="ingredient">4 ears of corn kernels cut from the
                cob</span></li>

                <li><span class="ingredient">2 Tbsp. flour</span></li>

                <li><span class="ingredient">2 C. chicken broth</span></li>

                <li><span class="ingredient">2 C. whole milk</span></li>

                <li><span class="ingredient">3 medium red potatoes, cubed</span></li>

                <li><span class="ingredient">Salt and pepper to taste</span></li>

                <li style="list-style: none; display: inline">
                  <hr />
                </li>

                <li><span class="equipment">3-quart saucepan</span><br /></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="seven columns panel" id="rightbar">
          <h2 class="preparation-heading">Preparation Instructions</h2>

          <div class="preparation">
            <p>Heat butter in a 3-quart saucepan. Add onion, garlic, celery, red pepper
            and corn. Sweat vegetables over medium-low heat until onion is translucent.
            Add flour to thicken the mixture. Stir often. Add broth and potatoes and
            bring to a boil. Reduce heat to low and simmer until potatoes are tender,
            about 30 minutes. Stir in milk. Add salt and pepper to taste.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <div class="panel">
            <h2 class="serving-heading">Serving Instructions</h2>

            <div class="serving">
              <p>Serve with homemade biscuits or bread.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><script src="javascripts/jquery.min.js" type="text/javascript">
</script><script type="text/javascript">
//<![CDATA[


                          $(function(){


                          var H = $("#leftbar").height();


                          $("#rightbar").height(H);


                          });


  //]]>
  </script>

